LOGGER_LEVEL=debug

SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# in_memory | postgres
STORAGE_TYPE=postgres
PLAYGROUND_ENABLED=true

PG_DATABASE_NAME=posts_comments
PG_USER=posts_comments-user
PG_PASSWORD=posts_comments-password
PG_PORT=54321
PG_DSN=host=pg port=5432 dbname=posts_comments user=posts_comments-user password=posts_comments-password sslmode=disable

LOCAL_MIGRATION_DSN=host=localhost port=54321 dbname=posts_comments user=posts_comments-user password=posts_comments-password sslmode=disable
LOCAL_MIGRATION_DIR=./migrations